<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>


  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

.container{
  margin: 0%;
  
  
}


  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: #460670;
    color: white;
    font-weight: 600;
    padding-left: 8%;
  }

  /*.toolbar img {
    margin: 0 16px;
  }

  .toolbar img {
    margin: 0 16px;
  }

  

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }
 */
 

.content{

  background-color: #333;
  width: 100%;
  height: 100%;
  color: aliceblue;
  /*margin-top: 8%;*/
  position: absolute;
  display: flex;
  top: 8%;
  left: 0;
  right: 0;
  
} 

.separate{
  width: 50%;
  
}

.capacete{
  width: 100%;
  height: 8%;
  margin 2%;
  display: flex;
  position: absolute;
  padding-left: 8%;
}

.capacete2{
  width: 100%;
  height: 8%;
  margin 2%;
  display: flex;
  position: absolute;
  padding-left: 8%;
}

.central{
  width: 100%;
  height: auto;
  background-color: aliceblue;
  margin: 7% 10% 17% 10%;
  display: flex;
  
  
}

.central2{
  width: 100%;
  height: auto;
  background-color: aliceblue;
  margin: 7% 10% 17% 10%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
 
  
}

.push1{
  width:50%;
  height: 100%;
  background-color: rgb(164, 171, 177);
  padding-right: 20px;
  
}

.push2{
  width:50%;
  height: 80%;
  background-color: rgb(80, 95, 107);
  
}

.footer{
  background-color: #460670;
  color: aliceblue;
  display: flex;
  width: 100%;
  height: 8%;
  float: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
</style>


<div class="container">

  <!-- Toolbar -->
  <div class="toolbar" >
    
    <h2>Saúl Arellano</h2> 
    <div class="separate"></div>
    <navegacion></navegacion>
    
    
    
  </div>
  
  
 <div class="content">
 <div class="capacete">  
    <h2 _ngcontent-iao-c17>La caida del sistematico Lorem ipsum dolor sit amet</h2>
  </div>  
 <div class="central">
  <div class="push1"><fruta></fruta><navegacion></navegacion></div>
  <div class="push2"><fruta></fruta><navegacion></navegacion></div> 
 </div>
 



 <footer class="footer">
    <p>este es el footer</p>
  </footer>



</div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
